@{
    ViewData["Title"] = "Homepage";
    Layout = "_HomeLayout";
    ViewData["Home"] = "hoveratag";
}


<div id="sub">
    <h3>Welcome to Zapcom's Lunch</h3>
    <h4>Booking Can be Done Between 12am - 10 : 30 am</h4>
</div>